.featuredlaunch_container {
    padding: 50px;
    background-color: black;
    background: radial-gradient( at top left, rgba(9, 8, 68, 1), transparent 1300px ), radial-gradient(at top right, rgb(36 110 119), transparent 1500px), radial-gradient(at center left, rgba(33, 29, 43, 1), transparent 1300px), radial-gradient(at center right, rgba(9, 8, 68, 1), transparent 1800px), radial-gradient(at bottom right, rgba(97, 120, 104, 1), transparent 400px), radial-gradient(at bottom left, rgba(9, 8, 68, 1), transparent 2000px)
    ;display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 130px
}

.featuredlaunch_leftCol {
    width: 555px;
    display: flex;
    margin-left: 20px;
    margin-right:20px
}



.featuredlaunch_rightCol,
.featuredlaunch_leftCol {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.featuredlaunch_rightCol img {
    border-radius: 24px;
}

.featuredlaunch_tag {
    font-size: 15px;
    font-weight: 500;
    color: white;
    background: hsla(0, 0%, 100%, 0.1);
    border: 0.5px solid #594a68;
    box-sizing: border-box;
    backdrop-filter: blur(2.83458px);
    border-radius: 4px;
    letter-spacing: 0.15em;
    padding: 0.5rem;
    width: 40%;
    text-align: center;
}
.featuredlaunch_tag1 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: hsla(0, 0%, 100%, 0.1);
    border: 0.5px solid #594a68;
    box-sizing: border-box;
    backdrop-filter: blur(2.83458px);
    border-radius: 4px;
    letter-spacing: 0.15em;
    padding: 0.5rem;
    width: 40%;
    padding-top: 15px;
    text-align: center;
}

.featuredLaunch_name {
    font-size: 58px;
    line-height: 120%;
    /* padding-right: 250px; */
    color:white;
}

.featuredlaunch_clipboard {
    display: flex;

    gap: 10px;
 

   
}

.featuredlaunch_box {
    background-color: #2b2037;
    border-radius: 8px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
}

.featuredlaunch_box span {
    color: #b4abba;
    font-size: 22px;
}

.featuredlaunch_quantity {
    color: white;
    font-size: 18px;
}

@media (max-width: 768px) {
    .featuredLaunch_name {
        font-size: 36px;
    }
    .featuredlaunch_tag {
        width: auto;
        font-size: 16px;
        padding: 10px 20px;
    }
    .featured__launch__button {
        width: auto !important;
    }
    .featuredlaunch_container {
        padding: 50px;
        background-color: black;
         display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 110px
    }
}

.featured_launch_amount_box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.featured_launch_amount_value {
    width: 50%;
    height: 40px;
    background: none;
    border: none;
    padding: 1rem 0px;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    outline: solid 2px;
    border-radius: 8px;
    font-weight: 700;
    min-width: 10rem;
}


@media only screen and (max-width: 700px) {
    .featuredlaunch_container {
        background: radial-gradient( at bottom left, rgb(13 14 100 / 61%), transparent 1300px ), radial-gradient(at bottom right, rgb(36 110 119), transparent 1500px), radial-gradient(at center left, rgba(33, 29, 43, 1), transparent 1300px), radial-gradient(at center right, rgb(206 206 206), transparent 1800px), radial-gradient(at top right, rgba(97, 120, 104, 1), transparent 400px), radial-gradient(at top left, rgb(225 225 230), transparent 2000px);
    }
    .featuredlaunch_leftCol{

    }



}