.blockContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: radial-gradient( at bottom left, rgba(9, 8, 68, 1), transparent 1300px ), radial-gradient(at bottom right, rgb(36 110 119), transparent 1500px), radial-gradient(at center left, rgba(33, 29, 43, 1), transparent 1300px), radial-gradient(at center right, rgba(9, 8, 68, 1), transparent 1800px), radial-gradient(at top right, rgba(97, 120, 104, 1), transparent 400px), radial-gradient(at top left, rgba(9, 8, 68, 1), transparent 2000px); padding: 80px;
}

.QaContainerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-text: center;
    padding-right: 31px;
}

.HeadingText {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    flex: none;
    border: 0;
    flex-grow: 0;
}

.AnswerText {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    background: linear-gradient( 99.82deg, #73e0a9 -35.91%, rgba(205, 255, 230, 0.76) 93.66% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media only screen and (max-width: 1200px){
    .Image {
        width: 186px;
        height: 190px;
        margin-right: 51px !important;
    }
}



@media only screen and (min-width: 1200px) {

.blockContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #000;
    padding: 80px;
}
}



