.HeadingText{
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    flex: none;
    border: 0;
    flex-grow: 0;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Container {
    padding-top: 50px;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( at top left, rgba(9, 8, 68, 1), transparent 1300px ), radial-gradient(at top right, rgb(36 110 119), transparent 1500px), radial-gradient(at center left, rgba(33, 29, 43, 1), transparent 1300px), radial-gradient(at center right, rgba(9, 8, 68, 1), transparent 1800px), radial-gradient(at bottom right, rgba(97, 120, 104, 1), transparent 400px), radial-gradient(at bottom left, rgba(9, 8, 68, 1), transparent 2000px);
}

.TeamCard {
    background: rgba(115, 224, 169, 0.19);
    clip-path: polygon( 30% 0%, 70% 0%, 100% 0, 100% 70%, 70% 100%, 30% 100%, 0 100%, 0% 30% );
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 50px;
}
.MarginContainer{
    margin:auto
}
.CardText {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #ffffff;
    text-align: left;
    padding: 20px;
}

.TeamImage {
    width: 274px;
    height: 195px;
}

.Icon {
    width: 30px;
    height: 30px;
}

.IconSmall {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.ContentContainer {
    display: flex;
    justify-content: left;
    align-items:end;
    flex-direction: column;
    margin-left: -80px;
}

.IconContainer {
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.CardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;

   
}
@media only screen and (max-width: 600px) {
    .CardContainer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {
    .Container {
       
        background-color:black;
         }
}





