.Containershowcase {
    height: 750px;
    padding-top: 0px;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient( at bottom left, rgba(9, 8, 68, 1), transparent 1300px ), radial-gradient(at bottom right, rgba(44, 87, 137, 1), transparent 1500px), radial-gradient(at center left, rgba(33, 29, 43, 1), transparent 1300px), radial-gradient(at center right, rgba(9, 8, 68, 1), transparent 1800px), radial-gradient(at top right, rgba(97, 120, 104, 1), transparent 400px), radial-gradient(at top left, rgba(9, 8, 68, 1), transparent 2000px);
}

.Cardcase {
    width: 223px;
    height: 259px;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(115, 224, 169, 0.5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.CardContainercase {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .CardContainercase {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.CardImg {
    width: 200px;
    height: 200px;
}

.CardTittlecase {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #54efa1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.MainQnaContainer {
    margin-top: 60px;
    padding: 50px 220px 50px 220px;
}

@media only screen and (max-width: 1200px) {
    .Containershowcase {
        height: 750px;
        padding-top: 0px;
        background-color: #000;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
          }
    .MainQnaContainer {
        margin-top: 60px;
        padding: 20px 30px 50px 30px;
    }

    .CardContainercase {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }

    .CardImg {
        width: 130px;
        height: 130px;
    }

    .Cardcase {
        margin: 10px;
        height: 170px;
        width: 170px;
        left: 0px;
        top: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(115, 224, 169, 0.5);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width: 1200px) {
    .Containershowcase {
        height: 750px;
        padding-top: 0px;
        background-color: #000;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
       

    }
}

